body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #121212;
  color: #fff;
}

button {
  background-color: #1DB954;
  border: none;
  color: white;
  padding: 11px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin: 12px;
  width: 96%;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #1ed760cc;
}

.player-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-start;
}

.container-reproductor {
  width: 700px;
  display: flex;
  background: black;
  height: 500px;
  justify-self: center;
  align-items: anchor-center;
}

.spotify-Port {
  height: 350px;
  margin-left: 20px;
  border-radius: 24px;
  margin: 20px;
}