body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #121212;
  color: #fff;
}

button {
  background-color: #1DB954;
  border: none;
  color: white;
  padding: 11px 18px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin: 12px;
  width: 12px;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #1ed760cc;
}

.player-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-start;
}

.container-reproductor {
  width: 580px;
  display: flex;
  background: black;
  height: 500px;
  align-items: center;
  z-index: 1;
  position: fixed;
  align-self: center;
  justify-self: center;
  border: 4px solid #171717;
  border-radius: 10px;
  filter: drop-shadow(3px 2px 0 #32e070) drop-shadow(3px 5px 0 #114302);
}

.spotify-Port {
  height: 350px;
  border-radius: 24px;
  margin: 20px;
  border: 4px solid #1e1e1e;
}

.player-in {
  display: flex !important;
  flex-wrap: wrap !important;
}

.current-track {
  margin: 0px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: x-large;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 176px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.profile-section {
  display: flex;
  justify-items: center;
  width: 212px;
  position: fixed;
  height: 500px;
  background: black;
  margin-left: 5px;
  align-content: normal;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  border: 4px solid #1e1e1e;
  filter: drop-shadow(5px 5px 0 #32e070) drop-shadow(10px 10px 0 #114302);
}

#profile-pic {
  height: 160px;
  border-radius: 10px;
  border: 4px solid #1db954;
}